<div class="row">
    <div class="col-md-7">
        <img src="img/kor/features_analysis_img1.png">
    </div>
    <div class="col-md-5">
        <div class="features_text_field">
            <div class="title_txt">어떠한 스윙에도 정확한 분석</div>
            <div class="overview_txt">
                <p>파이골프는</p>
                <p>헤드스피드, 스윙패스, 템포, 페이스 앵글, 어택 앵글</p>
                <p>그리고 예상 비거리 까지</p>
                <p>스윙 코치에 필요한 모든 데이터를 분석하여</p>
                <p>알기 쉬운 3D 비주얼로 보여 줍니다.</p>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 50px;">
    <div class="col-md-7">
        <img src="img/kor/features_analysis_img1.png">
    </div>
    <div class="col-md-5">
        <div class="features_text_field">
            <div class="title_txt">파이골프 만의 퍼팅라인 분석</div>
            <div class="overview_txt">
                <p>당신이 퍼팅했던 모습 그대로 라인이 그려집니다.</p>
                <p>파이골프만의 유일한 퍼팅라인을 통해서</p>
                <p>공을 똑바로 보내는 방법을 익히고</p>
                <p>일관성을 높이는 퍼팅 연습을 시도해 보세요.</p>
            </div>
        </div>
    </div>
</div>