<div class="row" style="height: 550px; padding-top: 100px;">
    <div class="col-md-5">
        <img src="img/support_contact_img.png">
    </div>
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-3" style="text-align: right; font-size: 18px; line-height: 60px;">
                <div>문의항목</div>
                <div>고객명</div>
                <div>연락처</div>
                <div>이메일</div>
                <div>제목</div>
                <div>내용</div>
            </div>
            <div class="col-md-9">
                <form>
                    <div style="margin-top: 10px;">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div style="margin-top: 15px; line-height: 50px;">
                        <input type="text" class="form-control" id="text">
                    </div>
                    <div style="margin-top: 15px; line-height: 50px;">
                        <input type="text" class="form-control" id="text">
                    </div>
                    <div style="margin-top: 15px;">
                        <input type="text" class="form-control" id="text">
                    </div>
                    <div style="margin-top: 10px;">
                        <input type="text" class="form-control" id="text">
                    </div>
                    <div style="margin-top: 10px;">
                        <textarea type="text" class="form-control" rows="5"></textarea>
                    </div>
                    <button type="submit" class="btn btn-lg btn-default" style="margin-top: 20px;">등록하기</button>
                </form>
            </div>
        </div>
    </div>
</div>