<div class="title_txt">{{languageObject.Features[2].title_1}}</div>

<div class="row">
    <!-- <div class="col-md-6">
        <div class="row spec_txt">
            <div class="col-md-4 spec_txt1">제품명 / 모델</div>
            <div class="col-md-8">PHI GOLF / PHG-100</div>
        </div>
        <legend class="spec_line"></legend>
        <div class="row spec_txt">
            <div class="col-md-4 spec_txt1">제품 구성</div>
            <div class="col-md-8">본체, 마이크로 USB 케이블, 퀵매뉴얼, 파우치</div>
        </div>
        <legend class="spec_line"></legend>
        <div class="row spec_txt">
            <div class="col-md-4 spec_txt1">소재</div>
            <div class="col-md-8">ABS 플라스틱, 니켈, 크롬</div>
        </div>
        <legend class="spec_line"></legend>
        <div class="row spec_txt">
            <div class="col-md-4 spec_txt1">Color</div>
            <div class="col-md-8">블랙</div>
        </div>
        <legend class="spec_line"></legend>
        <div class="row spec_txt">
            <div class="col-md-4 spec_txt1">배터리</div>
            <div class="col-md-8">리튬 폴리머 100mAh</div>
        </div>
        <legend class="spec_line"></legend>
        <div class="row spec_txt">
            <div class="col-md-4 spec_txt1">배터리 수명</div>
            <div class="col-md-8">7 시간</div>
        </div>
        <legend class="spec_line"></legend>
        <div class="row spec_txt">
            <div class="col-md-4 spec_txt1">완충 시간</div>
            <div class="col-md-8">1.5 시간</div>
        </div>
        <legend class="spec_line"></legend>
        <div class="row spec_txt">
            <div class="col-md-4 spec_txt1">센서</div>
            <div class="col-md-8">9-Axis</div>
        </div>
        <legend class="spec_line"></legend>
        <div class="row spec_txt">
            <div class="col-md-4 spec_txt1">블루투스</div>
            <div class="col-md-8">4.1</div>
        </div>
        <legend class="spec_line"></legend>
        <div class="row spec_txt">
            <div class="col-md-4 spec_txt1">인식 거리</div>
            <div class="col-md-8">10m 내외</div>
        </div>
        <legend class="spec_line"></legend>
        <div class="row spec_txt">
            <div class="col-md-4 spec_txt1">어플리케이션 OS</div>
            <div class="col-md-8">iOS 9.0+ / Android 5.0+</div>
        </div>
        <legend class="spec_line"></legend>
        <div class="row spec_txt">
            <div class="col-md-4 spec_txt1">크기 / 무게</div>
            <div class="col-md-8">30X30X44(mm) / 10g</div>
        </div>
        <legend class="spec_line"></legend>
    </div> -->
    <div class="col-md-6">
        <div class="row spec_txt" ng-repeat="spec in languageObject.Features[2].sensor_spec">
            <div class="col-md-4 spec_txt1">{{spec.title}}</div>
            <div class="col-md-8">{{spec.description}}</div>
            <legend class="spec_line"></legend>
        </div>
    </div>
    <div class="col-md-6">
        <img src="phigolf_web/img/kor/features_spec_img.png">
    </div>
</div>


<div class="title_txt" style="margin-top: 50px;">{{languageObject.Features[2].title_2}}</div>

<div ng-repeat="app_spec in languageObject.Features[2].app_spec">
    <div class="row spec_txt">
        <div class="col-md-2 spec_txt1">{{app_spec.title}}</div>
        <div class="col-md-10">{{app_spec.description}}</div>
    </div>
    <legend class="spec_line"></legend>    
</div>
