<style>
    #selectedFeatureItemText {
        height: 170px;
    }
</style>
<div class="title_txt" style="text-align:center;">{{languageObject.Features[1].main_title}}</div>
<img src="phigolf_web/img/kor/features_game_img_menu.png">
<div class="row" style="margin-top: 50px; height: 400px;">
    <div class="col-md-7" style="height: 402px; padding-top: 40px;">
        <img src="phigolf_web/img/kor/{{selectedFeatureItem1}}.png">
    </div>
    <div class="col-md-5">
        <div class="features_text_field">
            <div class="title_txt">{{languageObject.Features[1].title_1}}</div>
            <div class="overview_txt" id="selectedFeatureItemText">
                {{languageObject.Features[1].text_1}}
            </div>
            <div style="height: 28px;"></div>
            <div class="row" style="height: 100%; position: relative; bottom: -webkit-calc(0); bottom:calc(0);">
                <div class="col-md-4" style="padding:5px;">
                    <img src="phigolf_web/img/kor/{{selectedFeatureItem1 == feature_game_plays.stroke[0] ? feature_game_plays.stroke[1] : feature_game_plays.stroke[0]}}.png" height="75px" ng-click="selectedFeatureItem1 == feature_game_plays.stroke[0] ? selectedFeatureItem1 = feature_game_plays.stroke[1] : selectedFeatureItem1 = feature_game_plays.stroke[0]">
                </div>
                <div class="col-md-4" style="padding:5px;">
                    <img src="phigolf_web/img/kor/{{feature_game_plays.stroke[2]}}.png" height="75px" ng-click="selectedFeatureItem1 = feature_game_plays.stroke[2]">
                </div>
                <div class="col-md-4" style="padding:5px;">
                    <img src="phigolf_web/img/kor/{{feature_game_plays.stroke[3]}}.png" height="75px" ng-click="selectedFeatureItem1 = feature_game_plays.stroke[3]">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 50px; height: 400px;">
    <div class="col-md-7" style="height: 402px; padding-top: 40px;">
        <img src="phigolf_web/img/kor/{{selectedFeatureItem2}}.png">
    </div>
    <div class="col-md-5">
        <div class="features_text_field">
            <div class="title_txt">{{languageObject.Features[1].title_2}}</div>
            <div class="overview_txt" id="selectedFeatureItemText">
                {{languageObject.Features[1].text_2}}
            </div>
            <div style="height: 28px;"></div>
            <div class="row" style="height: 100%; position: relative; bottom: -webkit-calc(0); bottom:calc(0);">
                <div class="col-md-4" style="padding:5px;">
                    <img src="phigolf_web/img/kor/{{selectedFeatureItem2 == feature_game_plays.driving[0] ? feature_game_plays.driving[1] : feature_game_plays.driving[0]}}.png" height="75px" ng-click="selectedFeatureItem2 == feature_game_plays.driving[0] ? selectedFeatureItem2 = feature_game_plays.driving[1] : selectedFeatureItem2 = feature_game_plays.driving[0]">
                </div>
                <div class="col-md-4" style="padding:5px;">
                    <img src="phigolf_web/img/kor/{{feature_game_plays.driving[2]}}.png" height="75px" ng-click="selectedFeatureItem2 = feature_game_plays.driving[2]">
                </div>
                <div class="col-md-4" style="padding:5px;">
                    <img src="phigolf_web/img/kor/{{feature_game_plays.driving[3]}}.png" height="75px" ng-click="selectedFeatureItem2 = feature_game_plays.driving[3]">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 50px; height: 400px;">
    <div class="col-md-7" style="height: 402px; padding-top: 40px;">
        <img src="phigolf_web/img/kor/{{selectedFeatureItem3}}.png">
    </div>
    <div class="col-md-5">
        <div class="features_text_field">
            <div class="title_txt">{{languageObject.Features[1].title_3}}</div>
            <div class="overview_txt" id="selectedFeatureItemText">
                {{languageObject.Features[1].text_3}}
            </div>
            <div style="height: 28px;"></div>
            <div class="row" style="height: 100%; position: relative; bottom: -webkit-calc(0); bottom:calc(0);">
                <div class="col-md-4" style="padding:5px;">
                        <img src="phigolf_web/img/kor/{{selectedFeatureItem3 == feature_game_plays.nearest[0] ? feature_game_plays.nearest[1] : feature_game_plays.nearest[0]}}.png" height="75px" ng-click="selectedFeatureItem3 == feature_game_plays.nearest[0] ? selectedFeatureItem3 = feature_game_plays.nearest[1] : selectedFeatureItem3 = feature_game_plays.nearest[0]">
                </div>
                <div class="col-md-4" style="padding:5px;">
                    <img src="phigolf_web/img/kor/{{feature_game_plays.nearest[2]}}.png" height="75px" ng-click="selectedFeatureItem3 = feature_game_plays.nearest[2]">
                </div>
                <!-- <div class="col-md-4" style="padding:5px;">
                    <img src="phigolf_web/img/kor/{{feature_game_plays.nearest[3]}}.png" height="75px" ng-click="selectedFeatureItem3 = feature_game_plays.nearest[3]">
                </div> -->
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 50px; height: 400px;">
    <div class="col-md-7" style="height: 402px; padding-top: 40px;">
        <img src="phigolf_web/img/kor/{{selectedFeatureItem4}}.png">
    </div>
    <div class="col-md-5">
        <div class="features_text_field">
            <div class="title_txt">{{languageObject.Features[1].title_4}}</div>
            <div class="overview_txt" id="selectedFeatureItemText">
                    {{languageObject.Features[1].text_4}}
            </div>
            <div style="height: 28px;"></div>
            <div class="row" style="height: 100%; position: relative; bottom: -webkit-calc(0); bottom:calc(0);">
                <div class="col-md-4" style="padding:5px;">
                    <img src="phigolf_web/img/kor/{{selectedFeatureItem4 == 'features_game_online_img1' ? feature_game_plays.online[1] : feature_game_plays.online[0]}}.png" height="75px" ng-click="selectedFeatureItem4 == feature_game_plays.online[0] ? selectedFeatureItem4 = feature_game_plays.online[1] : selectedFeatureItem4 = feature_game_plays.online[0]">
                </div>
                <div class="col-md-4" style="padding:5px;">
                    <img src="phigolf_web/img/kor/{{feature_game_plays.online[2]}}.png" height="75px" ng-click="selectedFeatureItem4 = feature_game_plays.online[2]">
                </div>
                <div class="col-md-4" style="padding:5px;">
                    <img src="phigolf_web/img/kor/{{feature_game_plays.online[3]}}.png" height="75px" ng-click="selectedFeatureItem4 = feature_game_plays.online[3]">
                </div>
            </div>
        </div>
    </div>
</div>

