<div class="title_txt">센서 단말기 정보</div>

<div class="row">
    <div class="col-md-6">
        <div class="row spec_txt">
            <div class="col-md-4 spec_txt1">제품명 / 모델</div>
            <div class="col-md-8">PHI GOLF / PHG-100</div>
        </div>
        <legend class="spec_line"></legend>
        <div class="row spec_txt">
            <div class="col-md-4 spec_txt1">제품 구성</div>
            <div class="col-md-8">본체, 마이크로 USB 케이블, 퀵매뉴얼, 파우치</div>
        </div>
        <legend class="spec_line"></legend>
        <div class="row spec_txt">
            <div class="col-md-4 spec_txt1">소재</div>
            <div class="col-md-8">ABS 플라스틱, 니켈, 크롬</div>
        </div>
        <legend class="spec_line"></legend>
        <div class="row spec_txt">
            <div class="col-md-4 spec_txt1">Color</div>
            <div class="col-md-8">블랙</div>
        </div>
        <legend class="spec_line"></legend>
        <div class="row spec_txt">
            <div class="col-md-4 spec_txt1">배터리</div>
            <div class="col-md-8">리튬 폴리머 100mAh</div>
        </div>
        <legend class="spec_line"></legend>
        <div class="row spec_txt">
            <div class="col-md-4 spec_txt1">배터리 수명</div>
            <div class="col-md-8">7 시간</div>
        </div>
        <legend class="spec_line"></legend>
        <div class="row spec_txt">
            <div class="col-md-4 spec_txt1">완충 시간</div>
            <div class="col-md-8">1.5 시간</div>
        </div>
        <legend class="spec_line"></legend>
        <div class="row spec_txt">
            <div class="col-md-4 spec_txt1">센서</div>
            <div class="col-md-8">9-Axis</div>
        </div>
        <legend class="spec_line"></legend>
        <div class="row spec_txt">
            <div class="col-md-4 spec_txt1">블루투스</div>
            <div class="col-md-8">4.1</div>
        </div>
        <legend class="spec_line"></legend>
        <div class="row spec_txt">
            <div class="col-md-4 spec_txt1">인식 거리</div>
            <div class="col-md-8">10m 내외</div>
        </div>
        <legend class="spec_line"></legend>
        <div class="row spec_txt">
            <div class="col-md-4 spec_txt1">어플리케이션 OS</div>
            <div class="col-md-8">iOS 9.0+ / Android 5.0+</div>
        </div>
        <legend class="spec_line"></legend>
        <div class="row spec_txt">
            <div class="col-md-4 spec_txt1">크기 / 무게</div>
            <div class="col-md-8">30X30X44(mm) / 10g</div>
        </div>
        <legend class="spec_line"></legend>
    </div>
    <div class="col-md-6">
        <img src="res/img/kor/features_spec_img.png">
    </div>
</div>


<div class="title_txt" style="margin-top: 50px;">어플리케이션 상세정보</div>

<div class="row spec_txt">
    <div class="col-md-2 spec_txt1">게임모드</div>
    <div class="col-md-10">스트로크 게임, 연습장(Driving Range), 니어리스트 게임, 온라인 멀티게임, 어프로치 게임(준비중), 퍼팅게임(준비중)</div>
</div>
<legend class="spec_line"></legend>

<div class="row spec_txt">
    <div class="col-md-2 spec_txt1" >골프코스 맵</div>
    <div class="col-md-10">3가지 3D 풀 매핑 시뮬레이션 코스 (추가 코스  업데이트 예정)</div>
</div>
<legend class="spec_line"></legend>
<div class="row spec_txt">
    <div class="col-md-2 spec_txt1">3D 스윙 분석</div>
    <div class="col-md-10">헤드스피드 / 스윙템포 / 거리 / 스윙 패스 / 페이스앵글 / 어택앵글</div>
</div>
<legend class="spec_line"></legend>
<div class="row spec_txt">
    <div class="col-md-2 spec_txt1">퍼팅 분석</div>
    <div class="col-md-10">헤드스피드 / 스윙템포 / 스윙패스 / 거리 / 오픈앵글 / 어택앵글</div>
</div>
<legend class="spec_line"></legend>
<div class="row spec_txt">
    <div class="col-md-2 spec_txt1">플레이어 수</div>
    <div class="col-md-10">최대 4명</div>
</div>
<legend class="spec_line"></legend>
<div class="row spec_txt">
    <div class="col-md-2 spec_txt1">디스플레이 정보</div>
    <div class="col-md-10">홀 정보 / 파 정보 / 거리 안내 / 그린경사도 / 미니맵 / 바람 방향 및 속도</div>
</div>
<legend class="spec_line"></legend>
<div class="row spec_txt">
    <div class="col-md-2 spec_txt1">스코어보드, 리더보드</div>
    <div class="col-md-10">3 / 6 / 9 / 18 홀 스코어 카드 및 랭킹</div>
</div>
<legend class="spec_line"></legend>
<div class="row spec_txt">
    <div class="col-md-2 spec_txt1">클럽선택</div>
    <div class="col-md-10">다양한 클럽 선택 가능 (드라이버 / 아이언 / 웻지 / 퍼터) or 거리에 따른 자동 클럽 선택 모드</div>
</div>
<legend class="spec_line"></legend>
<div class="row spec_txt">
    <div class="col-md-2 spec_txt1">옵션</div>
    <div class="col-md-10">사운드 / 리플레이 / 거리 단위 선택 / 멀리건 설정 등</div>
</div>
<legend class="spec_line"></legend>
