<div id="storeView">
        <div style="width: 100%;">
            <div style="width: 100%; text-align: right;">
                    <img src="res/img/store_img2.png" style="width: 80px;">    
            </div>
            <img src="res/img/store_img1.png" style="width: 80%;">
        </div>
    
    <div style="width: 100%; font-size: 32px; line-height: 40px; font-family: 'nanumgothiclight'; text-align: left; margin-top: 30px;">
        <div class="title_txt" style="width: 100%; text-align: center; margin-bottom: 20px;">
            <!-- <p>다양한 온,오프라인 샵에서</p>
            <p>파이골프를 만나실 수 있습니다.</p> -->
            {{languageObject.Store.title}}
        </div>
        <div style="width: 100%; text-align: center;">
            <div style="padding-bottom: 10px; width: 100%;">
                <!-- <a href="https://www.kickstarter.com/projects/2078717030/phigolf?ref=nav_search"> -->
                    <img src="res/img/kor/store_btn1.png" style="width: 130px;">
                <!-- </a> -->
                <!-- <a href="https://www.indiegogo.com/projects/phigolf-game-sports#/"> -->
                    <img src="res/img/kor/store_btn2.png" style="width: 130px;">
                <!-- </a> -->
            </div>
            <div style="width: 100%;">
                <a href=""><img src="res/img/kor/store_btn3.png" style="width: 130px;"></a>
                <a href=""><img src="res/img/kor/store_btn4.png" style="width: 130px;"></a>
            </div>
        </div>
    </div>
</div>